/* Paleta de colores */

:root {
    --fondo:#F5F5F5;
    --fondo2:#EAF2FD;
    --navtransition: #cdc7c7;
    --btngit: #1d66cc;
    --btndemo: #706d6d;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 15px;
    color: black;
    box-sizing: border-box;
    text-align: center;
}

/* Diseño Navbar */
.NavBar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 80px;
    margin-bottom: 40px;
    background: var(--fondo);
    z-index: 1000;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: double;
}

.menu__logo {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-left: 30px;
}

.navbar__container {
    display: flex;
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: row;
    margin: 0 60px;

}

.navbar-list-items {
    transition: opacity 0.6s ease;
}

.navbar__list:hover > :not(:hover) {
    opacity: 0.5;    
}

.navbar__contacto {
    display: none;
}

/* SECCION PRINCIPAL */
.section-principal {
    width: 100%;
    height: 100%;
    background: var(--fondo);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Titulos de mi foto */
.title-div {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.imagen-profile {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-top: 100px;
    padding: 10px;
}

/* Titulos */
.title-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin-right: 20px;
    margin-top: 40px;
}

.title-principal {
    font-weight: bold;
    font-size: 75px;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 20px;
    line-height: 1.3;
    text-align: left;
}

.title-information {
    font-size: 54px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-align: left;
}

/*Redes Sociales */
.list-socialmedia{
    display: flex;
    flex-direction: row;
    margin: 2px;
    padding: 5px;
    justify-content: center;
   
}

.menu-list-socialmedia {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.menu-list-socialmedia img {
    width: 175px;
    margin: 0 25px;
    padding: 20px;
}

.list-socialmedia .menu-list-socialmedia:not{
    margin-right: 20px;
}

/* ABOUT ME */
.about-me{
    width: 100%;
    height: 100%;
    display: flex;
    background: var(--fondo2);
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.about-container{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;  
}

.about-paragraph{
    display: flex;
    font-size: 44px;
    line-height: 1.5;
    margin: 10px;
}

/* SKILLS Y HOBBIES */
.section-skills{
    display: flex;
    padding: 10px;
    background: var(--fondo);
    align-items: center;
    flex-direction: column;
}

/* Estilo de los titulos de Skills, hobbies, formacion academica, experiencia*/
.about-little, .skills-title, .hobbies-title, .education-title, .experience-section-title, .contact-title{
    font-weight: bold;
    text-align: center;
    font-style: Raleway;
    font-size: 55px;
    margin-bottom: 10px;
    line-height: 1.5;
} 

.skills-container{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-around;
}

.skills-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.8;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    flex: 1;
}

.skills-img img{
    width: 50px;
    height: auto;
    flex: none;
    margin-top: 10px;
    align-self: center;
}

/* Estilos de skills li y hobbies */
.skills-name, .hobbies-name{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.1;
    font-weight: bold;
}

/* Hobbies */
.section-hobbies{
    display: flex;
    padding: 20px;
    background: var(--fondo2);
    align-items: center;
    flex-direction: column;
}

.hobbies-container{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-around;
}

.hobbies-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.8;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    flex: 1;
}

.hobbies-img img{
    width: 65px;
    height: auto;
    flex: none;
}

/* style Formacion Academica */
.section-education{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    background: var(--fondo);
    align-items: center;
    flex-direction: column;
}

.education-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    margin: 25px;
}

.education-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    background-color: white;
    opacity: 0.8;
    flex: 1;
}

.education-item-img img{
    width: 110px;
    height: 110px;
    flex: none;
    margin-top: 10px;
}

.education-item-title{
    display: flex;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
    justify-content: center;
    line-height: 1.2;
    margin-top: 15px;
}

.education-item-subtitle{
    display: flex;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 5px;
    text-align: center;
    justify-content: center;
    line-height: 1.2;
}

/* EXPERIENCIA */
.section-experience{
    display: flex;
    padding: 20px;
    background: var(--fondo);
    align-items: center;
    flex-direction: column;
}

.experience-box{
    display: flex;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
   justify-content: center;
}

.experience-box img{
    width: 35%;
    height: auto;
    margin: 15px;
}

experience-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

/* ESTILOS PARA EL JUEGO NUMERO SECRETO */

.experience-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    order: -1;
}

/* style title section experience */
.experience-title {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    line-height: 1.2;
    text-align: left;
}

.experience-text {
    font-size: 17px;
    line-height: 1.2;
    text-align: left;
    margin-top: 5px;
}

/* BUTTON STYLE */

.experience-description {
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.experience-repo {
    display: felx;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    height: 50px;
}

.experience-demo {
    display: flex;
    color: black;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
}

/* Muestra Github */

.experience-button-repo {
    height: 60px;
    width: 120px;
    background-color: var(--btngit);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s ease-out;
}

.experience-button-repo:hover {
    transform: translateY(-5px) scale(1.0);
}

.experience-button-repo:active {
    background-color: var(--btngit);
}

.experience-button-demo {
    height: 60px;
    width: 120px;
    background-color: var(--btndemo);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s ease-out;
}

.experience-button-demo:hover {
    transform: translateY(-5px) scale(1.0);
}

.experience-button-demo:active {
    background-color: var(--btndemo);
}

/* CONTACT SECTION */
.section-contact {
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px;
    background: var(--fondo2);
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.contact-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

contact-left {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: white;
    opacity: 0.8;
    border: none;
    border-radius: 10px;
}

.contact-title-left {
    font-weight: bold;
    text-align: center;
    font-style: oblique;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 20px;
}

.contact-information-item {
    display: flex;
    font-size: 20px;
    flex-direction: column-reverse;
    margin-bottom: 40px;
}

.contact-information-item {
    
}

































